.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

button {
  background-color: rgb(5, 77, 98);
  border: none;
  color: white;
  padding: 15px 15px 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 8px;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

img {
  width: 500px;
}
